<!DOCTYPE html>
<html>
<head>
  <title>S3AwsUploader</title>
  <%= stylesheet_link_tag    "s3_aws_uploader/application", media: "all" %>
  <%= javascript_include_tag "s3_aws_uploader/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
