<h1>New</h1>

<%= form_for(@upload) do |f| %>
  <%= f.text_field :product_image, style: "display:none" %>
  <%= bootstrap_s3_upload(:product_image, '/s3_uploader/policy/new') %>
  <%= f.button :submit, class: "btn btn-default" %>
<% end %>

<script>
  var productImageUploader = new OctaviusUpload('upload', 'product_image');
</script>